<ion-view view-title="Chase">
  <ion-content>
  		<div class="propic" style="background-image:url(img/chase.jpg); background-size: cover;">>
  			<img class="proimg" src="img/proimg.png">
  		</div>
  		<center><h5>Credit Card Customer Support Center of Chase bank</h5>
  			<p>will contact you in:</p>
  		<h3>1</h3><p>minute</p>
  	</center>

		<div class="card center" >
		  <div class="item item-divider">
		    To save you time, we've told Chase your:
		  </div>
		  <div class="item item-text-wrap">
		    Name: <span ng-bind="first"> </span> {{last}} </br>
		    Billing Address:  {{bill}} </br>
		    Email:  {{email}} </br>

		  </div>

		</div>


  </ion-content>
</ion-view>