<ion-view view-title="Chase">
  <ion-content>
  		<div class="propic">
  			<img class="proimg" src="img/proimg.png">
  		</div>
  		<center><p>Your being connected to
  		Chase bank: Credit Card Customer Support Center</p></center>

		<div class="card center" >
		  <div class="item item-divider">
		    To save you time, we've told Chase your:
		  </div>
		  <div class="item item-text-wrap">
		    Name: <span ng-bind="first"> </span> {{last}} </br>
		    Billing Address:  {{bill}} </br>
		    Email:  {{email}} </br>

		  </div>

		</div>


  </ion-content>
</ion-view>