<ion-view view-title="Call">
  <ion-content>

<div class="logo">
  <img class="homelogo">
</div>


<label class="item item-input item-select">
    <div class="input-label">
        &nbsp;
    </div>
    <select style="text-align: center;">
        <option selected>Chase Bank</option>
        <option>PayPal</option>
        <option>Health Clinic</option>
        <!-- These look good on an Iphone-->
    </select>
</label>

<button class="button button-full button-positive" ng-click="$state.go('tab.list')">
  Continue
</button>


        <!-- Phone call or search item? Consider Demo VS Real Use -->
  </ion-content>
</ion-view>
