<ion-view view-title="Call">
  <ion-content>


  <center><img id="home" src="img/logo.png"></center>



<label class="item item-input item-select">
    <div class="input-label">
        &nbsp;
    </div>
    <select style="text-align: center;">
        <option selected>Chase Bank</option>
        <option>PayPal</option>
        <option>Amazon</option>
        <option>Domain.com</option>
        <option>Twilio</option>
        <option>Microsoft</option>                        
        <!-- These look good on an Iphone-->
    </select>
</label>

<a class="button button-full button-dark custom" href="#/tab/call/list">
  Continue
</a>


        <!-- Phone call or search item? Consider Demo VS Real Use -->
  </ion-content>
</ion-view>
