/* Empty. Add your own CSS if you like */

.test{
	color: green;
}

#home{
	height: 50%;
	width: 50%;
}


.proimg{
	height: 125px;
	width: 125px;
	border-radius: 60.5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    margin-bottom: 10px; 
}

.bill{
	height: 100px;
}

.move{
	position: absolute;
	left: 23px;
	top: 28px;
	margin-bottom: auto;
	margin-top: auto;
	z-index: 1;
	color: white;
}