/* Empty. Add your own CSS if you like */

.test{
	color: green;
}


.proimg{
	height: 125px;
	width: 125px;
	border-radius: 60.5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    margin-bottom: 10px; 
}

.bill{
	height: 100px;
}