/* Empty. Add your own CSS if you like */

.test{
	color: green;
}

#home{
	height: 50%;
	width: 50%;
}

.custom{
	background-color: #00ac66 !important;
	    border-color: none;
}

.proimg{
	height: 125px;
	width: 125px;
	border-radius: 95.5px;
	display: block;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; 
    position: relative;
    bottom: 15px;
}

.bill{
	height: 100px;
}

.move{
	position: absolute;
	left: 23px;
	top: 18px;
	margin-bottom: auto;
	margin-top: auto;
	z-index: 1;
	color: white;
}